* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 10px;
    font-weight: 200;
}

p {
    font-size: 6em;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    background: rgba(255, 0, 0, 0.322);
            box-shadow: inset 0 0 0 5px rgba(255, 0, 0, 0.1);
            color: red;
            text-align: center;
            align-items: center;
            display: flex;
            flex: 1;
            background-size: cover;
            background-position: center;
            flex-direction: column;
            justify-content: center;
            transition:
                font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
                flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
                background 0.2s;
}

.panel>* {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    transition: transform 0.5s;
}

.panel p {
    text-transform: uppercase;
    text-shadow: 0 0 4px rgb(255, 255, 255), 0 0 14px black;
}

.panel-1 {
    background-image: url(../img/photo-1.jpg);
    background-repeat: no-repeat;
}

.panel-2 {
    background-image: url(../img/photo-2.jpg);
    background-repeat: no-repeat;
}

.panel-3 {
    background-image: url(../img/photo-3.jpg);
    background-repeat: no-repeat;
}

.panel-4 {
    background-image: url(../img/photo-4.jpg);
    background-repeat: no-repeat;
}

.panel-5 {
    background-image: url(../img/photo-5.jpg);
    background-repeat: no-repeat;
}
.panel>*:first-child {
    transform: translateY(-100%);
}

.panel>*:last-child {
    transform: translateY(100%);
}

.panel.open-active>*:first-child {
    transform: translateY(0);
}

.panel.open-active>*:last-child {
    transform: translateY(0);
}

.panel.open {
    flex: 5;
    font-size: 2em;
}
